<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>FreeLeech</title>
		<link rel="stylesheet" href="css/uikit.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/ionicons.css" />
	</head>
	<body>
		<div id="app">
			<!-- table torrents-->
			<table class="uk-table uk-table-small uk-table-striped uk-table-hover">
				<thead class="uk-background-primary">
					<tr>
						<th class="width01" v-i18n:active></th>
						<th class="width25" v-i18n:title></th>
						<th class="width05 uk-text-right" v-i18n:size></th>
						<th class="width01 uk-text-right" v-i18n:seeding></th>
						<th class="width01 uk-text-center"><i class="ion-arrow-up-a"></i></th>
						<th class="width01 uk-text-center"><i class="ion-arrow-down-a"></i></th>
						<th class="width01" v-i18n:tracker></th>
						<th class="width01"><i :data-info="i18n('popupDeleteTorrent')" class="ion-trash-b"></i></th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="torrent in torrents" class="torrent.lastError?'uk-text-danger':'uk-text-primary'">
						<td class="uk-text-center pointer"><i :class="torrent.enabled?'ion-play':'ion-pause'" @click="updateTorrent(torrent)"></i></td>
						<!-- name -->
						<td class="uk-width-2-6 uk-text-truncate width25">
							<a v-if="torrent.pageURL" :href="torrent.pageURL" target="_blank">{{torrent.name}}</a>
							<span v-else>{{torrent.name}}</span>
						</td>
						<!-- size/seeding -->
						<td class="uk-text-right">{{showUnit(torrent.size)}}</td>
						<td class="uk-text-right">{{percentCompleted(torrent)}}%</td>
						<td class="uk-text-right">{{torrent.seeders}}</td>
						<td class="uk-text-right">{{torrent.leechers}}</td>
						<!-- tracker hostname -->
						<td>{{torrent.tracker}}</td>
						<!-- delete -->
						<td>
							<i class="ion-close-round uk-text-danger uk-align-center pointer" @click="deleteTorrent(torrent)"></i>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- add torrent button (not working on firefox) -->
			<div class="uk-text-center">
				<div v-if="(!isChrome() && !isTabOpened())" class="uk-text-center uk-margin-small-bottom">
					<button class="uk-button uk-button-secondary tooltip" :data-info="i18n('infoNewTab')" @click="openTab"><span v-i18n:buttonNewTab></span></button>
				</div>
				<div v-if="isChrome() || isInsideTab()">
					<button class="uk-button uk-button-primary uk-margin-small-bottom tooltip" :data-info="i18n('infoUpload')" @click="clickUpload" v-i18n:buttonUpload></button>
					<input type="file" id="upload" @change="uploadFile" accept="application/x-bittorrent" multiple hidden>
				</div>
			</div>
			<!-- link donation -->
			<a id="donation" class="noMargin sticky uk-alert-primary uk-animation-shake center uk-text-center uk-width-large" href="https://blockchain.info/address/34fygtqeAP62xixpTj6w9XTtfKmqjFqpo6" target="_blank" v-i18n:donation>
				<span class="uk-text-danger">&nbsp;14bpqrNgreKaFtLaK85ArtcUKyAxuKpwJM</span><img class="center uk-margin-top" src="icons/bitcoin.png">
			</a>
			<!-- settings -->
			<div id="settings">
				<div class="grid"><button class="uk-button uk-width-1-3 uk-text-capitalize tooltip" :class="active?'uk-button-primary':'uk-button-default'" :data-info="i18n('infoActive')" @click="updateActive">{{i18n(active?'onActive':'offActive')}}</button><button class="uk-button uk-width-1-3 uk-text-capitalize tooltip" :class="showNotification?'uk-button-primary':'uk-button-default'" :data-info="i18n('infoNotif')" @click="updateNotif" >{{i18n(showNotification?"onNotif":"offNotif")}}</button><select class="uk-select uk-width-1-3 tooltip" v-model="currentClient" @change="updateClient" :data-info="i18n('infoClient')"><option v-for="client in clients" :value="client.clientId">{{client.clientName}}</option></select>
			</div>
			<div class="grid tooltip uk-margin-top" :data-info="i18n('infoSpeed')">
				<label class="uk-label uk-text-center width25 uk-margin-right" v-i18n:speed></label>
				<input class="uk-range width50" type="range" min="16" max="1024" step="1" v-model="currentKBytesPerSeconds" @change="updateSpeed">
				<span class="uk-badge width25 uk-margin-left">{{currentKBytesPerSeconds}}{{i18n("kps")}}</span>
			</div>
			<a class="github" href="https://github.com/UnCrevard" target="_blank"><i class="ion-social-github"></i></a>
		</div>
		<div class="footer"></div>
	</div>
	<script src="popup.js"></script>
</body>
</html>